.cabal-sandbox/
cabal.sandbox.config
cabal.project.local
dist/
dist-newstyle/
.ghc.environment.*
.stack-work/

/**/bower_components/
/**/node_modules/
/**/.pulp-cache/
/**/output/
/**/generated-docs/
/**/.psc*
/**/.purs*
/**/.psa*
/**/.spago
